:root {
  --red-primary: hsl(0, 78%, 62%);
  --cyan-primary: hsl(180, 62%, 55%);
  --orange-primary: hsl(34, 97%, 65%);
  --blue-primary: hsl(212, 86%, 64%);
  --vdark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --vlight-gray: hsl(0, 0%, 98%);
  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;
  --fm-poppins: 'Poppins', sans-serif;
  --fs-lg: 2rem;
  --fs-normal: 0.9375rem;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--fm-poppins);
  font-size: var(--fs-normal);
  background-color: var(--vlight-gray);
  box-sizing: border-box;
}

#heading-section {
  text-align: center;
  margin: 5%;
}

.heading-light {
  font-weight: var(--fw-200);
  color: var(--vdark-blue);
}

.heading-bold {
  color: var(--vdark-blue);
}

#feature {
  max-width: 1000px;
  color: var(--grayish-blue);
  margin: 5% auto;
}

#feature-card-section {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 350px));
  grid-template-rows: repeat(5, 100px);
  justify-content: center;
  gap: 1.5rem;
}

main .cards {
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: bottom 16% right 16%;
  padding: 7% 10%;
  box-shadow: 0px 14px 20px -5px rgb(218 228 240);
}

.tool-title {
  color: var(--vdark-blue);
  margin-bottom: 5%;
}

.supervisor-section {
  background-image: url(images/icon-supervisor.svg);
  border-top: 5px solid var(--cyan-primary);
  grid-column: 1/2;
  grid-row: 2/4;
}

.team-builder-section {
  background-image: url(images/icon-team-builder.svg);
  border-top: 5px solid var(--red-primary);
  grid-row: 1/3;
  grid-column: 2/3;
}

.karma-section {
  background-image: url(images/icon-karma.svg);
  border-top: 5px solid var(--orange-primary);
  grid-row: 3/5;
  grid-column: 2/3;
}

.calculator-section {
  background-image: url(images/icon-calculator.svg);
  border-top: 5px solid var(--blue-primary);
  grid-row: 2/4;
  grid-column: 3/4;
}

footer {
  margin-top: 5%;
  text-align: center;
}

@media screen and (max-width:700px) {
  #feature {
    width: 90%;
    color: var(--grayish-blue);
    margin: 15% auto;
  }

  #feature-card-section {
    display: grid;
    grid-template-columns: minmax(100px, 350px);
    grid-template-rows: repeat(8, 100px);
    justify-content: center;
    gap: 1.5rem;
  }

  .supervisor-section {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .team-builder-section {
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .karma-section {
    grid-column: 1/2;
    grid-row: 5/7;
  }

  .calculator-section {
    grid-column: 1/2;
    grid-row: 7/9;
  }

  footer .attribution {
    text-align: center;
  }
}
